* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 20px;
}

/* Títulos */
h1 {
    font-size: 36px;
    color: #ff6347; /* Cor laranja/vermelho para destaque */
}

h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #2e8b57; /* Cor verde para títulos principais */
}

a {
    text-decoration: none;
    color: #2e8b57;
    font-weight: bold;
}

a:hover {
    color: #ff6347;
}

/* Estilização dos Exercícios */
ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    font-size: 20px;
    margin: 10px 0;
    background-color: #f0f8ff; /* Azul claro */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

ul li:hover {
    background-color: #ff6347; /* Cor laranja/vermelho para efeito hover */
    color: white;
}

/* Seção de vídeo */
section a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #2e8b57;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

section a:hover {
    background-color: #ff6347;
}

p {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}