body {
    background-color: #87CEEB; /* Azul claro */
    font-family: Arial, sans-serif;
    color: #000; /* Texto preto */
    margin: 0;
    padding: 0;
}

form {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 20px;
}

/* Links e botões */
a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
