<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/inicio.css">
</head>
<body>
  <main>
    <!-- Nome "IFITNESS" como texto -->
    <div class="logo">IFITNESS</div>

    <h2>Sobre o Site:</h2>
    <p>Este é um site focado em <strong>dietas</strong> e <strong>exercícios</strong> para você alcançar seus objetivos de saúde e bem-estar.</p>

    <h3>Já possui cadastro?</h3>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('cadastro') }}">Cadastre-se</a>
  </main>
  <footer>
    <p>© 2025 Pedro Fitness - Todos os direitos reservados.</p>
  </footer>
</body>
</html>