<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href=".. /static/style.css">
    <link rel="stylesheet" href="..//static//inicio.css">
</head>
<body>
  <main>
    <img src="../static/imgcentro.jpg" alt="Imagem central do site" height="400px" width="400px">
    <h2>Sobre o Site:</h2>
    <p>Este é um site focado em <strong>dietas</strong> e <strong>exercícios</strong> para você alcançar seus objetivos de saúde e bem-estar.</p>

    <h3>Já possui cadastro?</h3>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('cadastro') }}">Cadastre-se</a>
</main>
</table>
<p>{{texto}}</p>
    </body>
</html>
