<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treino de Peito</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='stylepeito.css') }}">
</head>
<body>
    <header>
        <h1>Treino de Peito</h1>
    </header>
    <main>
        <section>
            <h2>Exercícios do Dia</h2>
            <ul>
                <li>Supino com Halteres</li>
                <li>Crossover</li>
                <li>Supino Inclinado com Halteres</li>
            </ul>
        </section>

        <section>
            <h2>DEMONSTRAÇÃO DO EXERCÍCIO "SUPINO INCLINADO COM HALTERES"</h2>
            <a href="https://www.youtube.com/watch?v=F4Q1g2z8MWM" target="_blank">ACESSE O VÍDEO</a>
        </section>

        <p><a href="{{ url_for('index') }}">Voltar para o início</a></p>
    </main>
</body>
</html>