<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treino de Peito</title>
</head>
<body>
    <h1>Dia de Peito</h1>
        <tr>
            <th>Supino com Halteres</th>
            <th>Crossover</th>
            <th>Supino Inclinado com Halteres</th>
        </tr>
    </table>
    <p>DEMONSTRAÇÃO DO EXERCÍCIO "SUPINO INCLINADO COM HALTERES"</p>
    <a href="https://www.youtube.com/watch?v=F4Q1g2z8MWM">ACESSE O VÍDEO</a>
    <p><a href="{{ url_for('index') }}">Voltar para o início</a></p>
</body>
</html>